# Diretórios temporários do live-build
/.build/
/binary/
/cache/
/chroot/
/source/
/.local/

# Hooks padrão recriados automaticamente
/config/hooks/normal/
/config/hooks/live/0010-disable-kexec-tools.hook.chroot
/config/hooks/live/0050-disable-sysvinit-tmpfs.hook.chroot

# Arquivos e marcadores gerados pelo live-build
/.build
/.stage/
*.iso
*.img
*.zsync
live-image-*
build.log

# Arquivos temporários de editores e sistema
*~
*.swp
.DS_Store

# Relatórios gerados durante a construção
/binary.modified_timestamps
/chroot.files
/chroot.packages.*
/*.contents
/*.files
/*.packages
